*
!*.cpp
!*.hpp


/example 
!/example/*.cpp 

/unittest
!/unittest/*.cpp


## Compiled Object files
#*.lo
#*.o
#*.obj
#
## Compiled Dynamic libraries
#*.so
#
#
## Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib
#
## Executables
#*.exe
#*.out 


